.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

body {
    background-color: #333;
}

.title>h1 {
    font-family: "Lucida Handwriting", "Brush Script m7", cursive;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav>ul>li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.heading {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
}

.content>div {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.Book {
    width: 30%;
    height: auto;
}

.Book>a>img {
    width: 33%;
    height: auto;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}